<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application>
        <service android:name="com.openweb.pbx.PhoneService" android:exported="false" android:foregroundServiceType="connectedDevice|microphone" />
        <service android:name=".PlayUpdateJob" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true" />
        <receiver android:name=".PlayUpdateReplacedReceiver" android:exported="false">
            <intent-filter><action android:name="android.intent.action.MY_PACKAGE_REPLACED" /></intent-filter>
        </receiver>
    </application>
</manifest>
